.redirect-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 100%;
  margin: 30px auto;
}
.redirect-block__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.redirect-block__button {
  display: block;
  color: #fff;
  padding: 15px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  max-width: 300px;
  border: 2px solid #ff5471;
  border-radius: 100px;
  background: linear-gradient(
    84.35deg,
    #ff0e46 11.46%,
    #e30036 31.95%,
    #fd264e 55.35%,
    #ff345d 76.53%,
    #fd0a46 97.17%
  );
  box-shadow: 0px 0px 16px 0px #f0043e;
  margin-top: 25px;
  cursor: pointer;
}
.redirect-block__button:hover {
  box-shadow: 0px 0px 16px 0px #fff;
}
@media (min-width: 500px) {
  .redirect-block {
    margin-top: 50px;
  }
  .redirect-block__list {
    align-self: flex-start;
    margin-left: 36px;
  }
  .redirect-block__button {
    margin-top: 35px;
    padding: 17px;
    max-width: NONE;
    width: 305px;
  }
}
@media (min-width: 850px) {
  .redirect-block {
    margin-top: 30px;
  }
  .redirect-block__list {
    gap: 16px;
  }
  .redirect-block__button {
    align-self: flex-start;
    margin-left: 36px;
  }
}
