@keyframes RainAnimation {
  0% {
    top: -20%;
    transform: rotate(0deg);
  }
  100% {
    top: 120%;
    transform: rotate(360deg);
  }
}

.coin {
  position: absolute;
  animation: RainAnimation 1.5s linear infinite;
}
