.logo {
  display: block;
  width: 65.29px;
  height: 50px;
  margin-top: 20px;
}
@media (min-width: 500px) {
  .logo {
    margin-top: 40px;
  }
}
@media (min-width: 1600px) {
  .logo {
    width: 130.57px;
    height: 100px;
    margin-top: 60px;
  }
}
